<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="header">
        <h1>ASP.NET MVC MUSIC STORE</h1>
        <ul id="navlist">
            <li class="first">
                <a href="/" id="current">Home</a>
            </li>
            <li>
                <a href="/Store/">Store</a>
            </li>
        </ul>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderBody()
</body>
</html>