<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target xsi:type="File" name="FileLoggerWeb" fileName="${basedir}/log/gemini-web-${shortdate}.log" encoding="utf-8" layout="${longdate} ${level:uppercase=true} ${logger} ${message}" />
    <target xsi:type="Trace" name="VisualStudioOutput" layout="${date:format=HH\:mm\:ss.fff} ${level:uppercase=true} ${logger:shortName=True} ${message}" />
    <target xsi:type="Console" name="CommandLineConsole" layout="${longdate} ${level:uppercase=true} ${logger} ${message}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="FileLoggerWeb"/>
  </rules>
</nlog>